@font-face {
  font-family: 'Algebra Display Web';
  src: url('AlgebraDisplay-Bold-Web.woff2') format('woff2'),
       url('AlgebraDisplay-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Algebra Display Web';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  color: white;
}

h1, h2 {
  color: white;
  line-height: 0.8em;
  font-weight: normal;
  margin: 0;
  mix-blend-mode: difference;
}

h1 {
  font-size: 64px;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  max-width: 5em;
}

h2 {
  position: absolute;
  right: 1rem;
  text-align: right;
}

article {
  width: 100%;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 430px) {
  section {
    position: relative;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.about-link {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 999;
  mix-blend-mode: difference;
  cursor: pointer;
}

.about {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3rem;
  z-index: 999;
  font-size: 3rem;
  overflow: scroll;
  justify-content: center;
}

p {
  max-width: 20em;
  margin: auto;
}
